h1{
    color: white;
}
p{
    color: white;
}

body {
    background-image: url("Senai.png");
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: rgb(240, 243, 238);
   
    
}

header{
    color: white ;
    background: linear-gradient(rgb(181, 209, 181), rgb(143, 119, 231));
    background-attachment: fixed;
}

a{
    color: rgb(53, 207, 207);
}

img{
    background-size: cover;
    height: 400px;
    background-color: rgb(255, 255, 255);
}